* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    word-break: break-word;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 72px;
    font-weight: 400;
}

.h1 {
    font-size: 72px;
    font-weight: 400;
}

.flex {
    display: flex;
}

.btn {
    display: inline-block;
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    background-color: #42AE60;
    border-radius: 6px;
    text-decoration: none;
    transition: background .5s;
}

.btn:hover {
    background: red;
}

.btnCenter {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.animation-70 {
    animation: 2s animation-70 ease;
}

@keyframes animation-70 {
    from {
        width: 70%;
    }
    to {
        width: 100%;
    }
}

.animation-300 {
    animation: 2s animation-300 ease;
}

@keyframes animation-300 {
    from {
        width: 300%;
    }
    to {
        width: 100%;
    }
}

