@media (max-width: 1024px) {
    .mainBlock__right {
        display: none;
    }

    .mainBlock__title,
    .mainBlock__subtitle {
        text-align: center;
    }

    .mainBlock {
        padding-left: 0;
    }

    .mainBlock__left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .sponsors {
        display: none;
    }

    .closeDeals__content,
    .vendorReviews__content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .closeDealsLeft,
    .vendorReviewsLeft {
        margin-bottom: 25px;
    }

    .vendorReviews .decoration {
        display: none;
    }
}

@media (max-width: 950px) {
    header .container {
        display: flex;
        justify-content: space-between;
    }

    .burger-wrapper {
        display: block;
    }

    .header.open .header__nav__items {
        transform: translateX(100%);
    }

    .header__nav__items {
        z-index: 1;
        display: block;
        position: absolute;
        left: -225px;
        top: 0;
        background: #7d8f84;
        width: 225px;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
    }
}

@media (max-width: 550px) {
    .btn {
        font-size: 10px;
        padding: 10px 15px;
    }

    .singInLink {
        font-size: 10px;
    }

    h1,
    .h1 {
        font-size: 50px;
    }

    .mainBlock__subtitle,
    .closeDeals__topSubtitle,
    .closeDeals__bottomSubtitle,
    .vendorReviews__topSubtitle,
    .vendorReviews__bottomSubtitle {
        font-size: 13px;
    }

    .closeDeals img,
    .vendorReviews img {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .singInLink__adaptive {
        display: block;
    }

    .header__buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .singInLink {
        display: none;
    }

    .closeDeals__content .textElement,
    .vendorReviews .textElement {
        font-size: 20px;
        max-width: 370px;
    }
}

@media (max-width: 375px) {
    .btn {
        font-size: 7px;
        padding: 7px 13px;
    }

    h1,
    .h1 {
        font-size: 30px;
    }

    .mainBlock__subtitle,
    .closeDeals__bottomSubtitle,
    .vendorReviews__topSubtitle,
    .vendorReviews__bottomSubtitle {
        font-size: 10px;
    }
}